<h1>Perfil de {{user.name}} {{user.lastname}}</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse magni cumque aut sunt modi, excepturi qui iure
  oditcommodi quod ducimus. Reiciendis voluptate assumenda voluptatibus vero autem minima odit culpa.</p>
<div class="box-img">
  <img src="../images/class.jpg" alt="bus">
</div>
<p><b>Nombre:</b> {{user.name}}</p>
<p><b>Apellidos:</b> {{user.lastname}}</p>
<p><b>Email:</b> {{user.username}}</p>
<p><b>Nacimiento:</b> En {{user.country}} en el año {{user.year}}</p>