<h2>Your Reviews</h2>
<% if (successMessage.length > 0) { %>
  <div class="success row"> <%= successMessage %> </div>
<% } %>
<% reviews.forEach((oneReview) => { %>
  <div class="row left-wrapper">
    <div class="col-md-2">
      <% if(!user.facebookID) { %>
        <img src="<%= user.pic_path %>" alt="<%= user.pic_name %>" class="img-circle" width="85px"/>
      <% } else { %>
        <img src="http://graph.facebook.com/<%= user.facebookID %>/picture?type=square" class="img-circle" width="85px"/>
      <% } %>
    </div>
    <div class="col-md-10">
      <div class="row">
        Review: <%= oneReview.content %><br>
        <%= oneReview.stars %> out of 5 Stars
      </div>
      &nbsp;
      &nbsp;
      <div class="row">
        <div class="col-md-2">
          <a href="#" class="btn btn-default" data-toggle="modal" data-target="#<%= oneReview._id %>">Edit</a>
        </div>
        <div class="col-md-2">
          <form method="post" action="/user/reviews/<%= oneReview._id %>/delete">
            <button class="btn btn-default">Delete</button>
          </form>
        </div>
    </div>
  </div>
  <!-- Modal -->
  <div id="<%= oneReview._id %>" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Review</h4>

        </div>
        <div class="modal-body">
          <form method="post" action="/user/reviews/edit">
            <div class="form-group">
            <label   for="content-input"> Your Review (Min. 50 characters) </label>
            <textarea id="content-input" onkeyup="countChar(this)" name="reviewContent" class="form-control" minlength=50 maxlength='250' required><%= oneReview.content %></textarea>
            <div id="charNum"></div>
            </div>
            <br>

            <div class="form-group">
            <label for="stars-input"> Rating (1-5 Stars) </label>
            <input  id="stars-input" type="number" name="reviewStars" class="form-control" min="1" max="5" value="<%= oneReview.stars %>" required>
            </div>
            <br>
            <input type="hidden" name="reviewId" value="<%= oneReview._id %>">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-default"> Edit Review </button>
        </form>
        </div>
      </div>

    </div>
  </div>
</div>
<% }); %>
