<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/"> Home </a>

    <% if (currentUser) { %>
    <a href="/private-page"> Private Page </a>
    <a href="/logout"> Log Out </a>

    <b> <%= currentUser.username %> </b>

    <% } else { %>

    <a href="/login"> Log In </a>
    <a href="/signup"> Sign Up </a>

    <% } %>

    <%- body %>

  </body>
</html>
