<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>

  <header>
    <div class="logo">
      <a href="/" title="Home">
        <img src="../images/logo.png" alt="Sur Buses" title="Sur Buses">
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a href="/" title="Home">Home</a>
        </li>
        <li>
          <a href="/about" title="Sobre Nosotros">Sobre Nosotros</a>
        </li>
        {{#if user}}
        <li>
          <a href="/private" title="privado">Privado</a>
        </li>
        <li>
          <a href="/profile" title="Perfil">Perfil</a>
        </li>
        <li>
          <a href="/logout" title="logout">Logout</a>
        </li>
        {{else}}
        <li>
          <a href="/signup" title="Registrarse">Registrarse</a>
        </li>
        <li>
          <a href="/login" title="Login">Login</a>
        </li>
        {{/if}}
      </ul>
    </nav>
    {{#if user}}
    <a href="/profile" class="special">{{user.username}}</a>
    {{/if}}
  </header>

  <div class="container">

    {{{body}}}

  </div>


  <footer class="card border-danger text-center">
    <ul>
      {{#if user}}
      <li>
        <a href="/logout" title="logout">Logout</a>
      </li>
      {{else}}
      <li>
        <a href="/signup" title="Registrarse">Registrarse</a>
      </li>
      <li>
        <a href="/login" title="Login">Login</a>
      </li>
      {{/if}}
    </ul>
  </footer>

  <script src="/javascripts/script.js"></script>
</body>

</html>